 *{
    margin: 0px;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background: url(../sky.jpg);
    height: 185vh;
    width: auto;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 35px;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;   
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: green;
    color: white;
}
ul li.active a{
     background-color: green;
    color: blanchedalmond;
}
.logo img{
    margin-left: 30px;
    margin-top: 15px;
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1250px;
    margin: 0px;
}
.banner{
    display: flex;
    margin-top: 80px;
    margin-right: 20px;
}
.left-column,.right-column{
    flex-basis: 100%;
}
.right-column img{
    width: 100%;


}
.left-column{
    margin-top: 60px;
    margin-left: 15px;
}
.left-column h2{
    margin-left: 12px;

}
.left-column h1{
    color: #fff;
    font-size: 35px;
    margin-left: 80px;
}
.paragraph{
    color: #fff;
    font-size: 25px;
    margin-left: 12px;
}


span{
    color: #3498db;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    font-family: 'poppins', sans-serif;
    display: flex;
    
}
.btn button{
    padding: 20px 40px;
    position: absolute;
    left: 18%;
    top: 50%
    font-size: 80px;
    border: 1px solid #fb7381;
    outline: none;       
    border-radius: 20px;
    cursor: pointer;
    color: blue;
    background: transparent; 

}
.btn .primary-btn
{
    background: linear-gradient(#fb7381, #f14a60);
    box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);

    
}
.container .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

}

.container .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}
.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.container .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}
.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}
.container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #23e629;
}
.container .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}
.container .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #2196f3;
}
.container .box:nth-child(4) .icon{
    box-shadow: 0 0 0 0 #c0392b;
    background: #c0392b;
}
.container .box:nth-child(4):hover .icon{
    box-shadow: 0 0 0 400px #c0392b;
}
.container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.container .box:hover .content{
    color: #fff;
}
.container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.container .box .content p{
    padding: 0;
    margin: 0;
}
.container .box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: lightpink;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2); 
}
.heading{
    color: #fff;
    margin-left: 42%;
    margin-top: 10px;
}
footer{
    background: #a9a9a9;
    padding: 90px 0;

}
.footer-container{
    height: 10vh;
    max-width: 1250px;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

}
.social-media{
    margin: 20px 20px;


}
.social-media a{
    color: #001a21;
    margin-right: 50px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}
.social-media a:hover{
    color: #fc5c65;
}
.footer-container .left-col h1{
    font-size: 26px;
    margin-left: 100px;
    margin-top: 40px;


}
.right-col h1{
    font-size: 26px;
    margin-left: 40px;
}
.right-col ul li a{
    margin-right: 30px;
    
}
.
